export IS_SANDBOX_ENV=
export GEMINI_API_KEY=
export GEMINI_API_SECRET=
export GOOGLE_SHEET_ID=
export GOOGLE_SHEETS_SERVICE_ACCOUNT=
export GOOGLE_SHEETS_KEY=
export GOOGLE_SHEET_NAME=
export START_DATE=
export DB_USERNAME=
export DB_PASSWORD=
export DB_NAME=
export DB_HOST=
export SENTRY_DSN=
PGSSLMODE=no-verify # for deployment to Heroku without SSL connection to postgres