export NODE_ENV=
export IS_SANDBOX_ENV=
export GEMINI_API_KEY=
export GEMINI_API_SECRET=
export DAILY_FIAT_AMOUNTS=
export ORDER_PRICE_TO_BID_PRICE_RATIO=
export GOOGLE_SHEET_ID=
export GOOGLE_SHEETS_SERVICE_ACCOUNT=
export GOOGLE_SHEETS_KEY=
export GOOGLE_SHEET_NAME=
export START_DATES=
export START_ROWS=
export HEROKU_DB_USERNAME=
export HEROKU_DB_PASSWORD=
export HEROKU_DB_NAME=
export HEROKU_DB_HOST=
export ELEPHANTSQL_DB_USERNAME=
export ELEPHANTSQL_DB_PASSWORD=
export ELEPHANTSQL_DB_NAME=
export ELEPHANTSQL_DB_HOST=
export ELEPHANTSQL_DSN=
PGSSLMODE=no-verify # for deployment to Heroku without SSL connection to postgres